# Ignore zero_shot_trial notebooks
zero_shot_trial

# Ignore scGPT model files
scGPT_human

# Ignore .venv
.venv

# Ignore other files
thesis_presentation.pptx

# Ignore data
data

# Ignore plots
plots